<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- skeleton card when no data  -->
  <div  *ngIf="!activityList">
  
    <ion-card >
      <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card> 
  
    <ion-card >
      <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card> 

    <ion-card >
      <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card> 
    
  </div>
 
  <!-- <ion-card [routerLink]="['activity-detail',activity.id]" routerDirection="forward" button
   *ngFor="let activity of (activityList | async)">
    <ion-img [src]="activity.cropped"></ion-img>
    <ion-card-header>
      <ion-card-title>
        {{activity.name}}
      </ion-card-title>
    </ion-card-header>
  </ion-card> -->


<app-activity-card *ngFor="let activity of (activityList | async)" [activity]="activity" [routerLink]="['activity-detail',activity.id]"></app-activity-card>
 
</ion-content>
